body {
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position-y: -500px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0px;
    width: 400px;
    height: 250px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.412);

}

#buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    background-color: rgb(1, 1, 1);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

#divbox1 {
    text-align: center;

}

#txtvalue {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}

footer {}